#title {
  text-align: center;
  font-size: 2rem;
}

#task-inputs {
  display: flex;
  justify-content: center;
  margin: auto;
}

#task-inputs input {
  padding: 10px;
  width: 30%;
}

#task-inputs button {
  padding: 5px;
  width: 10%;
}

#total-tasks {
  text-align: center;
  font-size: 1.3rem;
}
